body{
    width: 100%;
}

.bg-body-tertiary{
    width: 100% !important;
}

.container-fluid{
    background-color: rgba(222, 184, 135, 0.253) !important;
    width: 100% !important;
}
.phone{
    margin-left: 20px;
}
.navbar-brand{
    color: rgb(56, 53, 53) !important;
    margin-left: 30px;
}
.barra{
    color: black;
}

.carousel-item{
    width: 90% !important;
    height: 500px !important;
    margin: 5%;
}